@media (max-width: 2594px) {
    .container-img-btn {
        left: 33%;
    }
}

@media (max-width: 2086px) {
    .container-img-btn {
        left: 21%;
    }
}

@media (max-width: 1516px) {
    .container-img-btn {
        left: 18%;
    }
}

@media (max-width: 1150px) {
    .container-img-btn {
        left: 12%;
    }
}

@media (max-width: 1257px) {
    .btn-arrow {
        font-size: 40px;
    }
    .container-img-btn {
        left: 12%;
    }
}

@media (max-width: 1094px) {
    .container-img-btn {
        left: 17%;
    }
    .img-element {
        width: 610px;
        max-width: 100%;
    }
    .img {
    height: 200px;
    }
}

@media (max-width: 1003px) {
    .container-img-btn {
        left: 4%;
    }
    .img-element {
        width: 600px;
        max-width: 100%;
    }
    .img {
    height: 200px;
    }
}

@media (max-width: 826px) {
    .container-img-btn {
        top: 100px;
        left: 1%;
    }
    .img-element {
        width: 600px;
        max-width: 100%;
    }
    .btn-arrow {
        font-size: 35px;
    }
}

@media (max-width: 754px) {
    .container-img-btn {
        top: 150px;
        left: 2%;
    }
    .img-element {
        width: 540px;
        max-width: 100%;
        border: 15px solid white;
    }
    .img-search {
        grid-template-columns: 1fr 1fr;
    }
    .btn-arrow {
        font-size: 30px;
    }
}

@media (max-width: 691px) {
    .container-img-btn {
        top: 150px;
        left: 20%;
    }
    .img-element {
        width: 540px;
        max-width: 100%;
        border: 15px solid white;
    }
    .img-search {
        grid-template-columns: 1fr 1fr;
    }
    .btn-arrow {
        font-size: 25px;
    }
}

@media (max-width: 674px) {
    .container-img-btn {
        top: 150px;
        left: 3%;
    }
    .img-element {
        width: 480px;
        max-width: 100%;
        border: 15px solid white;
    }
}

@media (max-width: 632px) {
    .container-img-btn {
        top: 150px;
        left: 2%;
    }
    .img-element {
        width: 400px;
        max-width: 100%;
        border: 9px solid white;
    }
}

@media (max-width: 607px) {
    .container-img-btn {
        top: 150px;
        left: 2%;
    }
    .img-element {
        width: 400px;
        max-width: 100%;
        border: 9px solid white;
    }
    .remove-img {
        width: 21px;
        height: 21px;
        font-size: 10px;
    }
}
@media (max-width: 562px) {
    .container-img-btn {
        top: 150px;
        left: 1%;
    }
    .img-element {
        width: 400px;
        max-width: 100%;
        border: 9px solid white;
    }
}
@media (max-width: 519px) {
    .container-img-btn {
        top: 150px;
        left: 1%;
    }
    .img-element {
        width: 320px;
        max-width: 100%;
        border: 9px solid white;
    }
}
@media (max-width: 445px) {
    .container-img-btn {
        top: 100px;
        left: 1%;
    }
    .img-element {
        width: 300px;
        max-width: 100%;
        border: 4px solid white;
    }
    .img {
    height: 100px;
    }
}
@media (max-width: 425px) {
    .container-img-btn {
        top: 100px;
        left: 1%;
    }
    .img-element {
        width: 270px;
        max-width: 100%;
        border: 4px solid white;
    }
    .remove-img {
        width: 20px;
        height: 20px;
        font-size: 8px;
    }
    .img {
    height: 100px;
    }
}

@media (max-width: 366px) {
    .container-img-btn {
        top: 100px;
        left: 1%;
    }
    .img-element {
        width: 230px;
        max-width: 100%;
        border: 4px solid white;
    }
    .img {
    height: 100px;
    }
}