* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    margin: 0 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.input {
    width: 100%;
    max-width: 400px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
}
.btn {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.img {
    width: 100%;
    height: 300px;
    cursor: pointer;
}
.img-search {
    max-width: 1340px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 30px;
}
#result-block-img {
    text-align: center;
}

.container-img-btn {
    position: absolute;
    top: 15%;
    left: 23%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px;
}

.img-element {
    width: 800px;
    max-width: 100%;
    height: auto;
    background-size: cover;
    border: 20px solid white;
    box-shadow: 10px 10px 30px black, -10px -10px 30px black;
    border-radius: 20px;
}

.remove-img {
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}

.remove-img:hover {
    background-color: red;
    color: white;
}

@media (max-width: 2594px) {
    .container-img-btn {
        left: 33%;
    }
}

@media (max-width: 2086px) {
    .container-img-btn {
        left: 21%;
    }
}

@media (max-width: 1516px) {
    .container-img-btn {
        left: 18%;
    }
}

@media (max-width: 1150px) {
    .container-img-btn {
        left: 12%;
    }
}

@media (max-width: 1007px) {
    .container-img-btn {
        left: 17%;
    }
    .img-element {
        width: 600px;
        max-width: 100%;
    }
    .img {
    height: 200px;
    }
}

@media (max-width: 824px) {
    .container-img-btn {
        top: 100px;
        left: 9%;
    }
    .img-element {
        width: 600px;
        max-width: 100%;
    }
}

@media (max-width: 740px) {
    .container-img-btn {
        top: 150px;
        left: 9%;
    }
    .img-element {
        width: 540px;
        max-width: 100%;
        border: 15px solid white;
    }
    .img-search {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 674px) {
    .container-img-btn {
        top: 150px;
        left: 9%;
    }
    .img-element {
        width: 480px;
        max-width: 100%;
        border: 15px solid white;
    }
}
@media (max-width: 607px) {
    .container-img-btn {
        top: 150px;
        left: 9%;
    }
    .img-element {
        width: 440px;
        max-width: 100%;
        border: 9px solid white;
    }
}
@media (max-width: 562px) {
    .container-img-btn {
        top: 150px;
        left: 9%;
    }
    .img-element {
        width: 400px;
        max-width: 100%;
        border: 9px solid white;
    }
}
@media (max-width: 519px) {
    .container-img-btn {
        top: 150px;
        left: 9%;
    }
    .img-element {
        width: 320px;
        max-width: 100%;
        border: 9px solid white;
    }
}
@media (max-width: 435px) {
    .container-img-btn {
        top: 100px;
        left: 9%;
    }
    .img-element {
        width: 300px;
        max-width: 100%;
        border: 4px solid white;
    }
    .img {
    height: 100px;
    }
}
@media (max-width: 413px) {
    .container-img-btn {
        top: 100px;
        left: 9%;
    }
    .img-element {
        width: 270px;
        max-width: 100%;
        border: 4px solid white;
    }
    .remove-img {
        width: 20px;
        height: 20px;
        font-size: 8px;
    }
    .img {
    height: 100px;
    }
}

@media (max-width: 366px) {
    .container-img-btn {
        top: 100px;
        left: 9%;
    }
    .img-element {
        width: 230px;
        max-width: 100%;
        border: 4px solid white;
    }
    .img {
    height: 100px;
    }
}